@media screen and (max-width:320px) {
    .bansmal{
        width: 1139px;
    }
    
}

.image1{
    width: 363px;
    margin-top: 3px;
}
.image2{
    width: 341px;
    height: 358px;
}
.image3{
    width: 341px;
    height: 358px;
    margin-top: -6rem;
}
.image4{
    width: 363px;
    margin-top: 35px;
}
